* {
    padding: 0;
    margin: 0 10px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
   }

   
  body, html {
    height: 100%;
    width: auto;
}

   p{
    font-size: 18px;
    text-align: left;
    margin-bottom: 30px;
   }

   h3{
    float: left;
    margin-left: 120px;
    margin-top: 20px;
  }
   
   h4{
    text-align: center;
    margin:5px;
   }

   h5{
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;

   }


/*div images*/   
 img{
    height: 200px;
    width: 250px;
    float:left;
    border-radius: 10px;
    margin-right: 15px;
   }


/*Logo image*/
 .logo{
  width: 100px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 20px;
  color: black;
  }

  /*Feature and video wrapper*/
  .wrapper{
    margin: 100px auto;
    width: 50%;
    display:flex;
  }

  /*Customize Nav link*/
  nav a:link{
  color: black;
  font-size: 20px;
}

/*Hover color*/
nav a:hover {
  color: blue;
}

.nav-link{
  margin-left: 20px;
  
  }
  
  /*Nav bar*/
  nav{
    display:block;
    height: 70px;
    width: 100%;
    margin: 20px;;
  }
  
  nav ul{
    float: right;
    margin-right: 20px;
  color: black;
  }

  /*nav alignment*/
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
  }

 /*Email Input*/
  input{
    margin: 5px;
    width: 400px;
    padding: 10px;
    align-items: center;
  }

/*Banner*/
/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (vr-banner). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/vr-banner.webp");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


/*Align flex images horizontal*/
.flex-container{
  display: flex;
  justify-content: center;
}
  
/*Text alignment in flexbox*/
.flex-container > div {
    
  margin: 0 auto;
  padding: 20px;
  font-size: 25px;
  width: 500px;
  height: 500px;

}


/*Flex image*/
  .flex-img{
    align-items: center;
    margin-bottom: 5%;
    width: 500px;
    height: 400px;
    }

    .center-flex{
      text-align: center;
     
     justify-content: center;
     border-color: black;
      }

  .center{
   text-align: center;
   margin: 40px;
   margin-top: 35px;
  justify-content: center;
   }


 footer{
margin-top: 200px;
padding: 20px;
margin-left:65px;

 }

 #foot{
font-size: 15px;
 }

.how-it-works{

color: blue;
}
section .how-it-works{
height: 200px;
width: auto;
background-color: blue;

}

